<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Decouvrir Ionic</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!--<ion-chip>
  Méteo {{city}};
  </ion-chip>-->

  <h3>Bienvenue sur mon application Ionic</h3>

  <meteo city="montferrand"></meteo>
  <p>
    Ce projet est là pour tester les différents éléments proposés par Ionic

  </p>
  <p>
    Je vous invite à explorer les rubriques</p>
  <p>
    <button ion-button color="primary" menuToggle>Menu déroulant</button>
  </p>

</ion-content>
